@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewBag.Title = "BlogByCategory";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>@ViewBag.CategoryName</h3>
                <p>@ViewBag.CategoryDesc</p>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-white">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
            <div class="col-lg-4 mb-4">
                <div class="entry2">
                    <a href="/Blog/BlogDetail/@item.BlogId"><img src="@item.Image" alt="Image" class="img-fluid rounded" style="height:350px;"></a>
                    <div class="excerpt">
                        <span class="post-category text-white bg-secondary mb-3">@item.Category.CategoryName</span>

                        <h2><a href="/Blog/BlogDetail/@item.BlogId">@item.Title</a></h2>
                        <div class="post-meta align-items-center text-left clearfix">
                            <figure class="author-figure mb-0 mr-3 float-left"><img src="@item.Author.AuthorImage" alt="Image" class="img-fluid"></figure>
                            <span class="d-inline-block mt-1"><a href="#">@item.Author.AuthorName</a></span>
                            <span>&nbsp;-&nbsp;@(((DateTime)item.BlogDate).ToString("dd-MMM-yyyy"))</span>
                        </div>

                        <p>@item.BlogDescription.</p>
                        <p><a href="#">Daha Fazlası</a></p>
                    </div>
                </div>
            </div>
            }
        </div>
        
    </div>
</div>

@Html.Action("Footer", "About")

