@model EntityLayer.Concrete.Comment
@{
    ViewBag.Title = "BlogDetail";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@Html.Action("BlogDetailPartial", "Blog")


<section class="site-section py-lg">
    <div class="container">

        <div class="row blog-entries element-animate">

            <div class="col-md-12 col-lg-8 main-content">
                @Html.Action("BlogDetailPartial2", "Blog")
                @Html.Action("CommentListPartial", "Comment")


                <div class="comment-form-wrap pt-5">
                    <h3 class="mb-5">Yorum Bırak</h3>
                    @using (Html.BeginForm("CommentDrop", "Blog", FormMethod.Post))
                    {
                        <div class="form-group">
                            <input type="hidden" name="BlogId" value="@ViewBag.BlogId" />
                            <label for="name">Kullanıcı Adı</label>                            
                            <input type="text" class="form-control" id="name" name="Username">
                        </div>
                        <div class="form-group">
                            <label for="email">Mail </label>                
                            <input type="email" class="form-control" id="email" name="Mail">
                        </div>
                        <div class="form-group">
                            <label for="message">Yorum İçeriği</label>
                            <textarea id="message" cols="30" rows="10" class="form-control" name="CommentContent"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="Puan">Puanınız : </label>
                            @for (int i = 1; i <= 10; i++)
                            {
                                <label style="margin-right:10px">@Html.RadioButton("BlogPuan", i) @i</label>

                            }
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Gönder" class="btn btn-primary">
                        </div>
                    }
                </div>

            </div>
            <div class="col-md-12 col-lg-4 sidebar">
                @Html.Action("AuthorAboutPartial", "Author")
                @Html.Action("AuthorPopulerPost", "Author")
                @Html.Action("BlogDetailCategoryList", "Category")
            </div>
        </div>
    </div>
</section>
@Html.Action("AddSubscribePartail", "Subscribe")
@Html.Action("Footer", "About")


