@using EntityLayer.Concrete
@model List<SocialMedia>
<div class="col-md-4">
    @foreach (var item in Model)
    {
    <div>
        <h3 class="footer-heading mb-4">Sosyal Medya</h3>
        <p>
            <a href="@item.FacebookUrl"><span class="icon-facebook pt-2 pr-2 pb-2 pl-0"></span></a>
            <a href="@item.TwitterUrl"><span class="icon-twitter p-2"></span></a>
            <a href="@item.InstgramUrl"><span class="icon-instagram p-2"></span></a>
            <a href="@item.MailUrl"><span class="icon-envelope p-2"></span></a>
            <a href="@item.GitupUrl"><span class="icon-github p-2"></span></a>
            <a href="@item.Linkedin"><span class="icon-linkedin p-2"></span></a>
        </p>
    </div>
    }
</div>

